*{
  box-sizing:border-box;
}
.navbar{
   box-shadow:5px 10px 30px rgba(0,0,0,11%);
   display: flex;
   margin:0px;
   padding:0px;
   height: 64px;
}
.navbar ul{
  display: flex;
  justify-content: space-around;
  width:100%;
  margin: 0px;
}
.navbar li{
 list-style : none;
 padding : 13px 13px;
}
.navbar li a{
 padding : 10px 30px;
 text-decoration : none;
 color : black;
 font-size = 25px;
 display: flex;
 margin: 3px;
 text-transform:uppercase;

 }
.navbar li a:hover{
   background-color: rgb(24, 26, 204);
   transition: all ease;
   color: white;
   box-shadow: 5px 10px 30px rgba(24,139,119,30%);
}
.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}
.about-desc{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: justify;
  padding: 0% 3%;
  font-style: italic;
}
.contacts{
  margin: auto;
  display: block;
  position: relative;
  bottom: 0px;
}
.contacts h4,p{
  text-align: center;
}
